{{ $height := 500 }}
{{ $unit := "px" }}
{{ $items := "1" }}
{{ $duration := 7000 }}
<div id="carousel10" class="carousel object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"  duration="{{ $duration }}" items="{{ $items }}">
    <ul>
        {{ range $index, $slide := .Resources.ByType "image" }}
          {{ $small := ($slide.Resize "400x webp q80").RelPermalink }}
          {{ $medium := ($slide.Resize "550x webp q80").RelPermalink }}
          {{ $large := ($slide.Resize "900x webp q80").RelPermalink }}
          {{ $featuredimage := ($slide.Resize "1500x webp q80").RelPermalink }}
          <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }}{{ $unit }};">
            <img src="{{ $featuredimage }}" srcset="{{- with $small -}}, {{.}} 400w{{- end -}}
            {{- with $medium -}}, {{.}} 550w{{- end -}}
            {{- with $large -}}, {{.}} 768w{{- end -}}
            {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}" 
            width="100%" alt="{{ .Params.title }}" />
            <div><div>{{ .Params.title }}</div></div></li>
        {{ end }}
    </ul>
    <ol>
      {{ range $index, $page := .Resources.ByType "image" }}
        <li class="bg-black"><a href="#c10_slide{{ add $index 1 }}"></a></li>
      {{ end }}
    </ol>
    <div class="prev bg-black rounded-lg">&lsaquo;</div>
    <div class="next bg-black rounded-lg">&rsaquo;</div>
</div>