{{ define "main" }}
<main>
    <!-- hero section style elements -->
    <style>
        .herocontainer {
            position: relative;
            margin: 0 auto; /* Center it */
            background: rgb(55 65 81 / var(--tw-bg-opacity, 1))
        }
        .bg-image {
            /* The image used */
            /*background-image: url("images/global/site-logo.jpg"); */

            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(3px);

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
        .text-6xl {
            font-size: 3.5rem;
            line-height: 1.25;
        }
        .herocontainer .herocontent {
            position: absolute; /* Position the background text */
            /*bottom: 0;*/ /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1; /* Grey text */
            width: 100%; /* Full width */
            /*padding: 20px; *//* Some padding */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 

        .ul.tick-list {
            list-style: none;
            padding-left: 0;
        }

        ul.tick-list li {
            list-style: none;
            padding-left: 3em;
            margin-bottom: 0.5em;
            position: relative;
        }

        ul.tick-list li::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 47.5 47.5'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 38h38V0H0v38z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='green' clip-path='url(%23a)' transform='matrix(1.25 0 0 -1.25 0 47.5)'%3E%3Cg transform='translate(37 5)'%3E%3Cpath d='M-32 32c-2.209 0-4-1.791-4-4V0c0-2.209 1.791-4 4-4h28c2.209 0 4 1.791 4 4v28c0 2.209-1.791 4-4 4h-28z'/%3E%3Cpath fill='%23fff' d='M-7 23.5c.6397496 0 1.2865-.237 1.775-.725.976-.977.976-2.573 0-3.55l-15.5-15.5C-21.213 3.237-21.86 3-22.5 3c-.64 0-1.287.237-1.775.725l-6.5 6.5c-.976.977-.976 2.573 0 3.55.976.976 2.574.976 3.55 0l4.725-4.75 13.725 13.75c.4885.488 1.1352504.725 1.775.725z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    </style>
    <div class="bg-gray-700 herocontainer">
        <div>
            {{ $hero := resources.GetMatch "images/global/site-logo.jpg" }}
            {{ $thumb := ($hero.Resize "700x400 webp q90") }}
            {{ $large := ($hero.Resize "1006x576 webp q90") }}
            <img srcset="
                {{- with $thumb.RelPermalink -}}{{.}} 700w{{- end -}}
                {{- with $large.RelPermalink -}}, {{.}} 1006w{{- end -}}" src="{{ $hero.RelPermalink }}" width="{{$hero.Width}}" height="auto" alt="Eventrite hero image" class="rounded-lg bg-image" />
            <div class="lg:text-6xl sm:text-4xl text-gray-200 herocontent">
                <center>{{.Site.Params.Moto}}</center>
            </div>
        </div>
    </div>
    <div class="bg-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                    <h1 class="mb-2 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-7xl dark:text-white">
                        {{ .Site.Title }}
                    </h1>
                    <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
                        {{ .Site.Params.Moto }}
                    </h2>
                    <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                        {{ .Site.Params.Description}}
                    </p>
                </div>
                <div class="col-span-6">
                    {{ $hero := resources.GetMatch .Site.Params.Heroimage }}

                    {{ $thumb := ($hero.Resize "533x400 webp q90") }}
                    {{ $large := ($hero.Resize "768x576 webp q90") }}

                    <img srcset="
                        {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" 
                        src="{{ $hero.RelPermalink }}" width="{{$hero.Width}}" height="{{$hero.Height}}" alt="{{.Site.Params.Heading}} image" class="w-full max-w-xl mx-auto rounded-lg"  />
                </div>
            </div>
        </div>
    </div>

    <!-- More main page content here... -->

    <!-- Our services -->
    <div class="relative my-4">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-center lg:gap-24 lg:px-8">
            <div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72"></div><svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60" fill="currentcolor"></rect>
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)"></rect>
                    </svg>
                </div>
                <div class="relative w-full h-auto px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:px-0 lg:py-20">
                    <div class="overflow-hidden shadow-xl rounded-2xl">
                        {{ $p1image := resources.Get .Site.Params.P1.Image }}
                        {{ with $p1image }}
                        {{ with .Resize (printf "%dx%d webp q90" (div .Width 2) (div .Height 2)) }}
                        <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="w-full h-auto" alt="P1" loading="lazy" />
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
                <div class="md:pt-12 sm:pt-6 lg:pt-20">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                        {{ .Site.Params.P1.Heading }}
                    </h2>
                    <div class="mt-6 text-gray-900 dark:text-white">
                        <div class="mt-6 space-y-6 text-gray-900 dark:text-white prose">
                            <ul class="tick-list">
                                {{ range $.Site.Params.P1.Content }} 
                                    {{ range $v := . }} 
                                        <li ><b>{{$v.head}}</b> - {{$v.text}}</li>
                                    {{end}}
                                {{end}}
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- why choose us -->
    <div class="bg-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0 ">
                    <h2 class="text-left text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white sm:text-4xl md:mt-16">
                        {{ .Site.Params.P2.Heading }}
                    </h2>
                    <div class="mt-6 text-gray-900 dark:text-white text-left">
                        <div class="text-left mt-6 space-y-6 text-gray-900 dark:text-white prose">
                    
                    <ul class="tick-list">
                        {{ range .Site.Params.P2.Content }} 
                            {{ range $v := . }} 
                                <li><b>{{$v.head}}</b> - {{$v.text}}</li>
                            {{end}}
                        {{end}}
                    </ul> </div></div>
                </div>
                <div class="col-span-6">
                    {{ $image := resources.Get .Site.Params.P2.Image }}

                    {{ $thumb := ($image.Resize "533x400 webp q90") }}
                    {{ $large := ($image.Resize "768x576 webp q90") }}

                    <img srcset="
                        {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" 
                        src="{{ $hero.RelPermalink }}" width="{{$hero.Width}}" height="{{$hero.Height}}" alt="{{.Site.Params.P2.Heading}} image" class="w-full max-w-xl mx-auto rounded-lg"  alt="{{.Site.Params.P2.Heading}} image"  />
                    
                </div>
            </div>
        </div>
    </div>

     


    <!-- Events section -->
    <div class="max-w-md px-4 mx-auto md:pt-24 md:pb-16 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-center text-gray-900 dark:text-gray-50 sm:text-4xl">
                {{ .Site.Params.P3.Heading }}
            </h2>
            {{ range .Site.Params.P3.Content }}
            <p class="text-center max-w-3xl mt-6 text-lg leading-7 text-gray-900 dark:text-white">
                <center>{{ .text }}</center>
            </p>
            {{ end }}
            {{ range .Site.Params.P3.Links }}
            <div class="my-6">
                <a href="{{ .url }}" class="text-base font-medium text-primary-400 dark:text-primary-100">
                    {{ .text }}&nbsp&rarr;
                </a>
            </div>
            {{ end }}
        </div>
        <div class="lg:grid lg:grid-cols-1 lg:items-center lg:gap-24">
            <div class="mt-12 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-3">
                {{ range .Site.Params.P3.Logos }}
                <div class="flex justify-center col-span-1 px-5 py-5 bg-gray-50 dark:bg-gray-900/10">
                    {{ if .image }}
                    {{ $sponsor := resources.Get .image }}
                    {{ $sponsor := ($sponsor.Resize "400x400 webp q90") }}
                    <img src="{{ $sponsor.RelPermalink }}" width="{{$sponsor.Width}}" height="{{$sponsor.Height}}"  alt="{{ .alt }}" loading="lazy" />
                    {{ else }}
                    {{ $sponsor := resources.Get "images/global/sample-logo.svg" }}
                    <img src="{{ $sponsor.RelPermalink }}" class="max-h-12 dark:invert" alt="{{ .alt }}" loading="lazy" />
                    {{ end }}
                </div>
                {{ end }}
            </div>
            
        </div>
    </div>

    


    {{ if not .Site.Params.Disable_stay_uptodate}}
    <!-- CTA section -->
    <div id="cta" class="relative pb-16 mt-6">
        <div class="max-w-md mx-auto px-7 sm:max-w-3xl lg:max-w-7xl">
            <div class="relative px-6 py-10 overflow-hidden shadow-xl bg-primary-500 rounded-2xl sm:px-12 sm:py-20">
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                    <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" loading="lazy">
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
                    </svg>
                </div>
                <div class="relative">
                    <div class="sm:text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
                            {{ .Site.Params.P5.Heading }}
                        </h2>
                        {{ range .Site.Params.P5.Content }}
                        <p class="max-w-2xl mx-auto mt-6 text-lg text-primary-100">
                            {{ .text }}
                        </p>
                        {{ end }}
                    </div>
                    <form id="form" action="{{ .Site.Params.P5.Action }}" method="POST" class="mt-12 sm:mx-auto sm:flex sm:max-w-lg">
                        <div class="flex-1 min-w-0 space-y-6 ">
                            <label for="cta-email" class="sr-only">{{ .Site.Params.P5.Label }}</label>
                            <input id="cta-email" name="email" type="email" required class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500" placeholder="{{ .Site.Params.P5.Placeholder }}">
                            <input name="First Name" type="text" class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500" placeholder="Name">
                            <input name="Phone Number" type="text" class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500" placeholder="Phone number">
                            <!-- Honeypot Spam Protection -->
                            <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                            <input type="hidden" name="redirect" value="#">
                            <input type="hidden" name="subject" value="New interest from website">
                            <input type="hidden" name="from_name" value="Eventrite Website">
                            <!-- hCaptcha: Recommended for Advanced Spam Protection. 
                            <div class="h-captcha" data-captcha="true"></div> -->
                            <input type="hidden" name="access_key" value="{{ .Site.Params.P5.AccessKey }}" class="hidden" style="display: none;">
                            <div class="mt-4 sm:mt-0 sm:ml-3">
                                <button type="submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10 ">
                                    {{ .Site.Params.P5.Button }}
                                </button>
                                <div id="result"></div>
                            </div>
                        </div>
                        
                    </form>
                    <!-- Required only if you are using hCaptcha or Advanced File Upload. -->
                <!--   <script src="https://web3forms.com/client/script.js" async defer></script> -->
                </div>
            </div>
        </div>
    </div>
    <script>
        const form = document.getElementById('form');
        const result = document.getElementById('result');

        form.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
        result.innerHTML = "Please wait..."

            fetch('https://api.web3forms.com/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: json
                })
                .then(async (response) => {
                    let json = await response.json();
                    if (response.status == 200) {
                        result.innerHTML = json.message;
                    } else {
                        console.log(response);
                        result.innerHTML = json.message;
                    }
                })
                .catch(error => {
                    console.log(error);
                    result.innerHTML = "Something went wrong!";
                })
                .then(function() {
                    form.reset();
                    setTimeout(() => {
                        result.style.display = "none";
                    }, 3000);
                });
        });
    </script>
    
    {{ end }}

</main>
{{ end }}